# Notebook 01 - Cleaning and Standardizing World Development Indicators (WDI)

**Data Source**
Data collected from the [World Bank World Development Indicators](https://databank.worldbank.org/source/world-development-indicators#)

**Countries Selected**  
- Spain  
- Portugal  
- Italy  
- Hungary  
- Germany  
- France  
- United Kingdom  
- United States

**Series Selected**  
- GDP per capita (current US$) – `NY.GDP.PCAP.CD`  
- Growth of GDP per capita (annual %) – `NY.GDP.PCAP.KD.ZG`  
- Inflation, consumer prices (annual %) – `FP.CPI.TOTL.ZG`  
- Unemployment, total (% of total labor force, modeled ILO estimate) – `SL.UEM.TOTL.ZS`  

**Time Coverage**  
From 1975 to 2024

---

### Objetive
The main goal of this notebook is to:
1. Load the raw WDI data and metadata.
2. Clean and reshape the dataset from wide to long format.
3. Filter only the selected countries and series.
4. Save the cleaned dataset in `processed` for further analysis in the EDA notebook.

In [11]:
# Import libraries
import pandas as pd

# Load row data
raw_data = pd.read_csv("../data/raw/79f87ecd-68f3-4f6d-bb25-b54297d9cfd5_Data.csv")
metadata = pd.read_csv('../data/raw/79f87ecd-68f3-4f6d-bb25-b54297d9cfd5_Series - Metadata.csv', encoding='latin1')

raw_data.head()

,Country Name,Country Code,Series Name,Series Code,1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,6606.70146747184,6794.61739337861,7464.90784463001,9166.59011961391,11062.5731730373,12565.1639377144,...,36702.432373,37024.215713,38687.162641,41418.176648,40408.284857,39169.860600,43725.099952,41082.811932,44690.934540,46150.487686
1,France,FRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-1.12434934252717,4.3859426596524,3.5726543667741,3.89498063335051,3.69531078677157,1.67641337198611,...,1.066755,0.860031,2.083615,1.645909,2.027446,-7.440646,6.882338,2.570840,0.936488,1.166139
2,France,FRA,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,11.6859272493228,9.62549578155529,9.49455467190434,9.2505584672443,10.6467341716664,13.5625788483016,...,0.037514,0.183335,1.032283,1.850815,1.108255,0.476499,1.642331,5.222367,4.878357,1.999049
3,France,FRA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,..,..,..,..,..,..,...,10.354000,10.057000,9.409000,9.018000,8.415000,8.009000,7.874000,7.308000,7.335000,7.370000
4,Spain,ESP,GDP per capita (current US$),NY.GDP.PCAP.CD,3207.54465082024,3276.97023260494,3624.99940255962,4353.3273744052,5766.09296672485,6204.14321544225,...,25982.441620,26755.606115,28381.342560,30602.421288,29786.524569,27233.942646,30799.477594,30270.268702,33509.012798,35297.009500

In [12]:
metadata.head()

,Country Name,Country Code,Series Name,Series Code,1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,6606.70146747184,6794.61739337861,7464.90784463001,9166.59011961391,11062.5731730373,12565.1639377144,...,36702.432373,37024.215713,38687.162641,41418.176648,40408.284857,39169.860600,43725.099952,41082.811932,44690.934540,46150.487686
1,France,FRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-1.12434934252717,4.3859426596524,3.5726543667741,3.89498063335051,3.69531078677157,1.67641337198611,...,1.066755,0.860031,2.083615,1.645909,2.027446,-7.440646,6.882338,2.570840,0.936488,1.166139
2,France,FRA,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,11.6859272493228,9.62549578155529,9.49455467190434,9.2505584672443,10.6467341716664,13.5625788483016,...,0.037514,0.183335,1.032283,1.850815,1.108255,0.476499,1.642331,5.222367,4.878357,1.999049
3,France,FRA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,..,..,..,..,..,..,...,10.354000,10.057000,9.409000,9.018000,8.415000,8.009000,7.874000,7.308000,7.335000,7.370000
4,Spain,ESP,GDP per capita (current US$),NY.GDP.PCAP.CD,3207.54465082024,3276.97023260494,3624.99940255962,4353.3273744052,5766.09296672485,6204.14321544225,...,25982.441620,26755.606115,28381.342560,30602.421288,29786.524569,27233.942646,30799.477594,30270.268702,33509.012798,35297.009500

In [17]:
# From wide to long format
df_long = raw_data.melt(
    id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],
    var_name='Year', 
    value_name='Value'
)

# Clean Year column
df_long['Year'] = df_long['Year'].str.extract(r"(\d+)").astype(float).astype('Int64')

df_long.head()

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,1975,6606.70146747184
1,France,FRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1975,-1.12434934252717
2,France,FRA,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1975,11.6859272493228
3,France,FRA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1975,..
4,Spain,ESP,GDP per capita (current US$),NY.GDP.PCAP.CD,1975,3207.54465082024

In [19]:
indicators = [
    "NY.GDP.PCAP.CD",     # GDP per capita (current US$)
    "NY.GDP.MKTP.KD.ZG",  # GDP growth (annual %)
    "FP.CPI.TOTL.ZG",     # Inflation, consumer prices (%)
    "SL.UEM.TOTL.ZS"      # Unemployment (% labor force)
]

df_filtered = df_long[
    df_long["Series Code"].isin(indicators)
    ].dropna(subset=["Value"])

df_filtered.head()

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,1975,6606.70146747184
1,France,FRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1975,-1.12434934252717
2,France,FRA,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1975,11.6859272493228
3,France,FRA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1975,..
4,Spain,ESP,GDP per capita (current US$),NY.GDP.PCAP.CD,1975,3207.54465082024

In [20]:
# Save processed data

df_filtered.to_csv("../data/processed/wdi_cleaned.csv", index=False)